body {
    text-align:center;
    background: url('background.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size:cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height:100%;
    color:white;
}

.wrapper-div {
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-flex {
    left: 50%;
    right: 50%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:10px;
}

label {
    color:white;
    font-size:400%;
    margin-bottom:30px;
}

input {
    outline:none;
    border:none;
    box-shadow: 5px 5px 10px -7px black;
    width: 60vw;
    height:2em;
    letter-spacing: 2px;
    font-size:4em;
}

#submit {
    width:0px;
    height:2em;
    font-size:3em;
    border-radius:4em;
    background-color:white;
    margin:10px auto;
    overflow: hidden;
    background: linear-gradient(to right, rgb(83, 134, 243) 50%, white 50%);
    background-size:200% 100%;
    background-position:right bottom;

    transition-duration:0.4s;
    cursor:pointer;
    
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
}

#submit p {
    
    position: relative;
    letter-spacing: 2px;
}

#submit:hover {
    background-position: left bottom;
    color:white;
}

#submit:active {
    background-position: left bottom;
    color:white;
}

.store-btn {
    margin: 0 10px 0 10px;
    width:30vw;
    height:10vh;
    font-size:2em;
    border-radius: 25px;
    background-color: rgb(52, 174, 235);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.store-btn:hover {
    background-color: rgb(79, 188, 243);
}

.cover {
    position:aboslute;
    bottom:0;
    left:0;
    width:100%;
    height:0%;
    transition: 1s height ease-in-out;
    z-index:100;
    position:fixed;
    background-color:gray;

    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.cover h1 {
    display: none;
}

.wrong-pass {
    animation: wrong-shake 0.3s;
}

.correct-pass {
    animation: correct-shake 0.3s;
}

@keyframes wrong-shake {
    25% { transform: rotate(15deg) }
    50% { transform: rotate(-15deg) }
    75% { transform: rotate(-15deg) }
    100% { transform: rotate(15deg) }
}

@keyframes correct-shake {
    50% { transform: translateX(20px) }
    100% { transform: translateX(-20px) }
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.circle-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    width:20vw;
    height:20vw;
    padding:5px;
    border-radius: 50%;
    color:white;
    background-color:rgb(83, 134, 243);
}
